* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

html {
    overflow: hidden;
}

:root {
    --primary-nav: #1c1e31;
    --primary-background1: #212338;
    /* --primary-background2: #1f2235; */
    --primary-background2: #1c1e31;
    --primary-red: #ff4a57;
    --primary-title: white;
    --primary-text: #dfdfdf;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background1);
}

.sections {
    height: calc(100vh - 88.4px);
    position: relative;
    top: 88.4px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

.sections>* {
    /* scroll-snap-align: start; */
    overflow: hidden;

}

@media (min-width: 1200px) {
    .sections::-webkit-scrollbar {
        width: 10px;
    }

    .sections::-webkit-scrollbar-thumb {
        background: #888;
    }

    .sections::-webkit-scrollbar-thumb:hover {
        background: rgb(119, 117, 117);
    }
}